.template-container {
    text-align: center;
}

.template-content-wrapper-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 50px;
    gap: 150px;
    transition: transform 0.8s ease-out;
}

/* 1. ESTA CLASSE EMPURRA O QUADRADO PARA A DIREITA */
.template-content-wrapper.direita {
    flex-direction: row
}

/* 2. ESTA CLASSE MUDA A INCLINAÇÃO DA IMAGEM */
.template-imagem-direita {
    max-width: 500px;
    max-height: 250px;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
    transform: rotate(10deg);
    /* Se o azul é -10, o verde é 10 (ou vice-versa) */
    cursor: zoom-in;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2)); 
    transition: transform 0.3s ease;
}

.template-imagem-direita:hover {
    transform: scale(1.04);
}

.template-texto-direita {
    max-width: 300px;
    text-align: justify;
}

/*------------------RESPONSIVIDADE------------------*/

/* Ajustes para Tablets e Laptops Pequenos (Até 1024px) */
@media (max-width: 1024px) {
    .template-content-wrapper-direita {
        margin: 60px 40px; 
        gap: 60px; /* Reduz de 150px para 60px para caber em notebooks pequenos */
    }

    .template-imagem-direita {
        max-width: 400px; /* Diminui a foto de 500px para 400px */
        transform: rotate(5deg); /* Suaviza a inclinação para não "bater" no texto */
    }

    .template-texto-direita {
        max-width: 350px;
    }
}

/* Ajustes para celulares(Até 768px) */
@media (max-width: 768px) {
    .template-content-wrapper-direita {
        flex-direction: column; /* Empilha os elementos */
        margin: 40px 20px;
        gap: 30px; /* Espaçamento vertical entre foto e texto */
    }

    .template-imagem-direita {
        order: 1; /* Força a imagem a ser o primeiro item */
    }

    .template-texto-direita {
        order: 2; /* Força o texto a ser o segundo item */
    }


    .template-imagem-direita {
        max-width: 90%; 
        transform: rotate(0deg); /* Deixa a imagem reta para aproveitar a largura do celular */
    }

    .template-texto-direita {
        max-width: 100%;
        text-align: center; /* Texto centralizado fica melhor em telas estreitas */
        padding: 0 10px;
    }
}