@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap');

body {
    overflow-x: hidden; /* Evita scrolls horizontais acidentais */
    transition: background-color 0.3s ease;
}

/* Títulos das datas */
.template-container {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.titulo-data-imagem-home {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0 10px; /* Evita que o texto encoste nas bordas da tela */
}

.texto-template-imagem-home {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

/* Base de todos os wrappers (Animação) */
.template-wrapper-base {
    display: flex;
    transition: transform 0.8s ease-out;
}

/* --- MODAL GLOBAL (O "escurecedor" e a foto expandida) --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    cursor: zoom-out;
    backdrop-filter: blur(8px);
    animation: fadeIn 0.3s ease forwards;
}

.modal-imagem {
    max-width: 85%;
    max-height: 85%;
    border: 4px solid white;
    animation: zoomGiroSuave 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.botao-fechar {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
}

/* Estados da animação de Scroll */
/* Animações (importante repetir para o Hook funcionar aqui) */
.hidden {
    transform: translateY(100px);
}

.show {
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomGiroSuave {
    from {
        transform: scale(0.8) rotate(-5deg);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

/*------------------RESPONSIVIDADE------------------*/

@media (max-width: 1024px) {

    .modal-imagem {
        max-width: 80%;
        max-height: 80%;
    }

}

@media (max-width: 768px) {
    .titulo-data-imagem-home {
        font-size: 2rem;
        /* Reduz o tamanho para caber em uma linha no celular */
        margin-bottom: 15px;
        line-height: 1.2;
        /* Melhora o espaçamento se o texto for muito longo */
    }

    .modal-imagem {
        max-width: 75%;
        max-height: 75%;
    }
}